
<form action = "/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name= "_method" value="put" />
  <h3>Make your changes here</h3>
  <input type="text" name="task[title]" value="<%=@task.title%>" /><br/>
  <textarea name="task[description]"><%= @task.description %></textarea><br/>
  <input type="submit" />
</form>
