<form action="/tasks" method="post">
  <h1>Enter a new task:</h1>
  <input type="text" name="task[title]"/><br/>
  <textarea name="task[description]"></textarea><br/>
  <input class="btn btn-default" type="submit"/>
</form>
